@font-face {
   font-family: 'ardeco';
   src: url('../Ardeco.ttf');
}
@font-face {
   font-family: "DK MAJOLICA";
   src: url('../DKMajolica.otf');
}
@font-face {
   font-family: "ristretto pro";
   src: url('../RistrettoPro-Regular.otf');
}










